<!DOCTYPE html>
<head>
    <title>Beach Volleyball Statistics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type="radio"]').click(function() {
                var value = $(this).val();
                // var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: "/updateContent/",
                    type: "GET",
                    data: {'option': value},
                    dataType: 'json',
                    success: function(resp) {
                        $('#content').html(resp.html);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Organize Statistics By:</h1>
    <input type="radio" name="option" value="TournamentWinners">
    <label for="Query1">Display All Tournament Winning Teams</label><br><br>
    <p>Organize Teams By Gender:</p>
    <input type="radio" name="option" value="MaleTeams">
    <label for="Query2">Male Teams</label><br>
    <input type="radio" name="option" value="FemaleTeams">
    <label for="Query3">Female Teams</label><br><br>

    <input type="radio" name="option" value="TournamentWinnerInfo">
    <label for="Query4">Display Tournament Winners by Circuit/Date</label><br>

    <input type="radio" name="option" value="TeamRanks">
    <label for="Query5">Display Teams and Their Ranks</label><br>

    <br><br>
    <div id="content">
        <p>Data will display here.</p>
    </div>

    <!-- <table>
        <tr>
            <th>Team Name</th>
        </tr>
        <tr>
            <td>"Agatha Bednarczuk_""Eduarda """"Duda"""" Lisboa"""</td>
            <td>"Allison Cittadin_""Gustavo """"Guto"""" Carvalhaes"""</td>
            <td>"Andre Loyola_""Gustavo """"Guto"""" Carvalhaes"""</td>
            <td>"Andrea Galindo_""Claudia """"Gorda"""" Galindo"""</td>
            <td>"Andrezza ""Rtvelo"" Martins_""Cristine """"Saka"""" Santanna"""</td>
            <td>"Eduarda ""Duda"" Lisboa_Elize Maia"</td>
            <td>"Eduarda ""Duda"" Lisboa_Thais Rodrigues Ferreira"</td>
            <td>"Gustavo ""Guto"" Carvalhaes_Pedro Solberg"</td>
            <td>"Gustavo ""Guto"" Carvalhaes_Ricardo Santos"</td>
            <td>"Gustavo ""Guto"" Carvalhaes_Saymon Barbosa"</td>
        </tr>
    </table> -->

</body>
</html>